html{
	font-family: Helvetica, arial, serif;
font-size: 16px;
}

body{
	color: white ;
background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background-img.jpg");
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  
  /*Links*/
  a {
	  display: inline-block;
	  text-decoration: none;
	  color: silver;
  }
  
  a:hover {
	  color: whitesmoke;
  }
  
  
  /*Scrollbar*/
  .scroll{
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
  }
  
  /*Main Content*/
  main{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  }
  
  h2, h4 {
	font-family: helvetica, arial, sans-serif;
	font-weight: lighter;
  }
  
  h2, .selected-option>h4 {
	text-align: center;
  }
  
  .paragraph-main{
	font-family: helvetica;
	text-align: left;
	background-color: #030324;
	border-style: inset;
	padding: 5px;
  }
  

  

  
  /*About Me*/
  .about-me-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
  }
  
  .about-me-image{
	width: 240px;
	height: 143px;
	border-style: inset;
  }
  
  /*Areas of Expertise*/
  #areas-of-expertise {
	display: flex;
	justify-content: center;
  }
  
  .language{
	width: 15%;
	height: 15%;
	margin: 8px;
  }
  
  
  /*Projects*/
  #project-flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
  }
  
  .project{
	width: 240px;
	margin: 20px;
  }
  
  .project-image{
	display: block;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  
  /*Contact Me*/
  form{
   width: 100%;
	}
	
  label{
	font-family: helvetica, arial, serif;
  }
  
  input[type=email], input[type=text] {
	height: 30px;
  }
  
  textarea{
	height: 125px;
  }
  
  input[type=email], input[type=text], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
  }
  
  button[type=submit] {
	background-color: black;
	color: white;
	font-size: 16px;
	font-weight: lighter;
	padding: 12px 20px;
	border: inset;
	border-color: white;
	border-radius: 4px;
	cursor: pointer;
  }
  
  button[type=submit]:active {
	border-color: rgb(182, 182, 6);
  }
  
  form > h4{
	width: 50%;
  }
  
  #social-media {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  
  /*footer*/
  footer {
	border-top: solid;
  }
  
  footer > p{
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
  }
  
