body{
	background-color: black;
	color: white ;
	  font-size: 14pt;
  }
  
  
  /*Site Header*/
  header{
	border-bottom: solid;
  }
  
  header > h1, header > h4 {
	font-family: Helvetica, arial, serif;
	font-weight: lighter;
	margin: 10px;
  }
  
  header > h1{
	  font-size: 48px;
  }
  
  header > h4 {
	  font-size: 20px;
	  margin-left: 44px;
  }
  
  
  /*Links*/
  a {
	  display: inline-block;
	  margin-bottom: 10px;
	  font-size: 18px;
	  font-family: arial;
	  text-decoration: none;
	  color: silver;
  }
  
  a:hover {
	  color: whitesmoke;
  }
  
  
  /*Scrollbar*/
  .scroll{
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
  }
  
  /*Main Content*/
  main{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  }
  
  h2, h4 {
	font-family: helvetica, arial, sans-serif;
	font-weight: lighter;
  }
  
  h2, .selected-option>h4 {
	text-align: center;
  }
  
  .paragraph-main{
	font-family: helvetica;
	text-align: left;
	background-color: #030324;
	border-style: inset;
	padding: 5px;
  }
  
  .selected-option{
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 775px;
	max-width: 1000px;
  }
  
  
  /*Navigation*/
  nav{
	margin-left:auto;
	margin-right:auto;
  }
  
  ul{
	list-style-type:none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: solid;
	padding: 10px;
  }
  
  li{
	font-family: Arial, Helvetica, sans-serif;
	display: inline;
	margin: 8px;
	user-select: none;
	cursor: pointer;
  }
  
  li:hover{
	background-color: grey;
  }
  
  
  /*About Me*/
  .about-me-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
  }
  
  .about-me-image{
	width: 240px;
	height: 143px;
	border-style: inset;
  }
  
  /*Areas of Expertise*/
  #areas-of-expertise {
	display: flex;
	justify-content: center;
  }
  
  .language{
	width: 15%;
	height: 15%;
	margin: 8px;
  }
  
  
  /*Projects*/
  #project-flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
  }
  
  .project{
	width: 240px;
	margin: 20px;
  }
  
  .project-image{
	display: block;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  
  /*Contact Me*/
  form{
   width: 100%;
	}
	
  label{
	font-family: helvetica, arial, serif;
  }
  
  input[type=email], input[type=text] {
	height: 30px;
  }
  
  textarea{
	height: 125px;
  }
  
  input[type=email], input[type=text], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
  }
  
  button[type=submit] {
	background-color: black;
	color: white;
	font-size: 16px;
	font-weight: lighter;
	padding: 12px 20px;
	border: inset;
	border-color: white;
	border-radius: 4px;
	cursor: pointer;
  }
  
  button[type=submit]:active {
	border-color: rgb(182, 182, 6);
  }
  
  form > h4{
	width: 50%;
  }
  
  #social-media {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  
  /*footer*/
  footer {
	border-top: solid;
  }
  
  footer > p{
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
  }
  

/*Animations*/
.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  