html {
  font-family: Helvetica, arial, serif;
  font-size: 16px;
}

body {
  color: white;
  background-color: black;
  margin: 0;
}

h1 {
  margin: 0;
}

h2{
  text-align: center;
  margin-top: 0;
}

p{
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.selected-option{
margin: 2rem;
padding: 2rem;

border: solid;
border-radius: 1rem;
}



/* Refactor Later */


button {
  border-radius: .25rem;
  border-color: white;

  padding: .5rem;

  font-size: 1rem;
  font-weight: 600;

  background-color: black;
  color: white;
  border: inset;
  cursor: pointer;
}

button:hover{
  border: inset;
  border-color: white;
  background-color: white;
  color: black;
  font-weight: 600;

}






