@mixin fade($className, $time) {
        animation: #{$className} ease #{$time}s;
        -webkit-animation: #{$className} ease #{$time}s;
        -moz-animation: #{$className} ease #{$time}s;
        -o-animation: #{$className} ease #{$time}s;
        -ms-animation: #{$className} ease #{$time}s;

        @keyframes #{$className} {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes #{$className} {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes #{$className} {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes #{$className} {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes #{$className} {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
}

@mixin transition(){
  transition: all .2s ease-in-out;
}

@mixin enlarge(){
  transform: scale(1.1);
}