@mixin center {
    margin-left: $center;
    margin-right: $center;
}

@mixin wholeScreen {
    height: 100vh;
    width: 100vw;
    background-position-x: center;
    background-repeat: no-repeat;
    // background-size: cover;
}